<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form [formGroup]="dynamicForm">
            <div formArrayName="form">
                <div [formGroupName]="i" *ngFor="let item of formArray.controls; let i=index">
                    <div class="mb-3 mt-3">
                        <label for="email">Email:</label>
                        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="pwd">Password:</label>
                        <input type="password" formControlName="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                    </div>
                    <div class="form-check mb-3">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="remember"> Remember me
                        </label>
                    </div>
                    <button type="button" class="btn btn-primary" (click)="addControls()">Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>